{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href=" https://cdn.datatables.net/select/1.2.5/css/select.bootstrap4.min.css">
    
    <script type="text/javascript" src="{% static "vins/index.js" %}"></script>
    <link rel="stylesheet" href="{% static "vins/index.css" %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <h3>Filtres</h3>
                </div>
                <div class="row">
                    <h5>Couleur du vin</h5>
                </div>
                <div class="row">
                    {% for couleur in couleurs %}
                        <div class="col-md-3 couleur" align="center" >
                            <img src="{{couleur.photo}}" alt="{{couleur.couleur}}">
                            <div class="text-center">
                                {{couleur.couleur}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <h5>Region du vin</h5>
                    <select class="form-control region">
                        <option value="all">all</option>
                        {% for region in regions %}
                            <option value="{{region.Nom}}">{{region.Nom}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <h5>Fruit</h5>
                    <div class="range-slider">
                        <input class="cb_filtre" id="cb_fruit" type="checkbox">
                        <input id="fruit" class="range-slider__range" type="range" value="2" min="0" max="4">
                        <span class="range-slider__value">2</span>
                    </div>
                    <div id="lab">
                        <span id="labMin">Léger</span> <span id="labMax">Prononcé</span>
                    </div>
                </div>
                <div class="row">
                    <h5>Personnalité</h5>
                    <div class="range-slider">
                        <input class="cb_filtre" id="cb_perso" type="checkbox">
                        <input id="perso" class="range-slider__range " type="range" value="2" min="0" max="4">
                        <span class="range-slider__value">2</span>
                    </div>
                    <div id="lab" class="perso">
                        <span id="labMin">Sec/Léger</span> <span id="labMax">Moelleux/Doux/Puissant</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h1>Selectionnez un vin dans ce tableau : </h1>
                <table id="vinTable" cellspacing="0" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Couleur</th>
                            <th>Region</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 offset-md-3">
                <div class=".container" style="text-align: center;">
                    <h3><a href="repas">
                        <i style="transform: rotate(90deg)" class="fas fa-exchange-alt"></i> Inversez les deux tableaux !
                        </a></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 offset-md-3">
                <h1>Et les repas allant avec ce vin apparaitront dans celui là : </h1>
                <table id="repasTable" class="table table-striped table-bordered" style="width:100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>  
</body>
</html>